<div class="row center-block pt-3">
  <div class="col-md-3">
    <div class="col-12">
        <!--User infoテンプレ-->
      <div class="user-info">
       <%= render 'users/list2', user: @user %>
      </div>
  </div>
  <div class="col-1"></div>
  <div class="col-12">
        <!--部分テンプレート-->
    <div class="new-book">
    <%= render 'users/list', book: @book %>
    </div>
  </div>
 </div>

  <div class="col-md-8 offset-md-1">
    <div class="book_index">
     <div class="users_index">


    <h2>Users</h2>
     <table class="table table-hover">
    <thead>
      <th scope="col">image</th>
      <th scope="col">name</th>
      <th></th>
    </thead>
    <% @users.each do |user| %>
    <tbody>
        <td>
         <%= attachment_image_tag user, :profile_image, size: "40x40", fallback: "no_image.jpg", size: "40x40" %>
        </td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user) %></td>
    </tbody>
    <% end %>
  </table>
  </div>
   </div>
  </div>
</div>