<div class="container">
<div class="row">
  <div class="mx-auto pt-2">
<%= form_tag(search_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= select_tag(:option, options_for_select([["user", "1"],["post","2"]]))%>
    <%= select_tag(:choice, options_for_select([["あいまい検索", "1" ],["後方一致検索", "2" ],["前方一致検索", "3" ],["完全一致検索", "4" ]])) %>
    <%= submit_tag 'Search' %>
<% end %>
</div>
</div>
<div class="row center-block pt-3">
  <div class="col-md-3">
    <div class="col-12">
        <!--User infoテンプレ-->
      <div class="user-info">
       <%= render 'users/list2', user: @user %>
      </div>
    </div>
    <div class="col-1"></div>
  <div class="col-12">
        <!--部分テンプレート-->
    <div class="new-book">
      <%= render 'users/list', book: @book %>
    </div>
  </div>
 </div>

  <div class="col-md-8 offset-md-1">
    <div class="book_index">
     <div class="users_index">


    <h2>Users</h2>
     <table class="table table-hover">
    <thead>
      <th scope="col">image</th>
      <th scope="col">name</th>
      <th></th>
    </thead>
    <% @users.each do |user| %>
    <tbody>
        <td>
         <%= attachment_image_tag user, :profile_image, size: "40x40", fallback: "no_image.jpg", size: "40x40" %>
        </td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user) %></td>
        <td>フォロー数：<%= user.following_user.count %></td>
        <td>フォロワー数：<%= user.follower.count%></td>
        
        <% if current_user.following?(user) %>
        <td>
          <%= link_to 'フォロー外す', unfollow_path(user.id, order_sort: 1), method: :POST %>
        </td>
        <% else %>
        <td>
          <%= link_to 'フォローする', follow_path(user.id, order_sort: 1), method: :POST %>
        </td>
        <% end %>
    </tbody>
    <% end %>
  </table>
  </div>
   </div>
  </div>
</div>
</div>