<div class="row center-block pt-3">
  <div class="col-md-3">
    <div class="col-12">
        <!--User infoテンプレ-->
      <div class="user-info">
       <%= render 'users/list2', user: @user %>
      </div>
      <div>
        <%= render "users/contact" %>
      </div>
    </div>
  <div>
    <% if @user.id != current_user.id %>
    <% if current_user.following?(@user) %>
        <td>
          <%= link_to 'フォロー外す', unfollow_path(@user.id, order_sort: 0), class: "btn btn-primary", method: :POST %>
        </td>
      <% else %>
        <td>
          <%= link_to 'フォローする', follow_path(@user.id, order_sort: 0), class: "btn btn-success", method: :POST %>
        </td>
      <% end %>
    <% end %>
  </div>
  <div class="col-12">
        <!--部分テンプレート-->
    <div class="new-book">
    <%= render 'users/list', book: @book %>
    </div>
  </div>
 </div>
  <div class="col-md-8 offset-md-1">
    <div class="book_index">
     <div class="users_index">
    <h2>Books</h2>
    <table class="table table-hover">
     <thead>
     <th></th>
     <th scope="col">Title</th>
     <th scope="col">Opinion</th>
     </thead>
     <% @books.each do |book| %>
     <tbody>
     <td>
        <%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag book.user, :profile_image, size: "40x40", fallback: "no_image.jpg", size: "40x40" %>
        <% end %>
     </td>
     <td>
      <%= link_to book_path(book.id) do%>
        <%= book.title %>
      <% end %>
     </td>
     <td><%= book.body %></td>
  </tbody>
     <% end %>
    </table>
</div>
   </div>
  </div>
</div>


