
<div class="container">
  <div class="row">
<div class="col-12 pt-3 pb-2 w-100">
  <div class="mx-auto w-60">
  <%= form_tag( book_search_path, :method => 'get', local: true) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search' %>
<% end %>
</div>
</div>
<div class="col-12" >
  <h1>Books search for "<%= params[:search] %>"</h1>
  <div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
<% @books.each do |book| %>
  <tbody>
      <td><%= attachment_image_tag book.user, :profile_image, size: "40x40", fallback: "no_image.jpg", size: "40x40" %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tbody>
    <% end %>
  </table>
</div>
</div>
</div>
</div>