
<div class="row center-block pt-3">
  <div class="side-bar col-md-3 mw-25">
    <div class="col-12">
        <!--User infoテンプレ-->
      <div class="user-info">
       <h2>User.info</h2>
       <%= render 'users/list2', user: @user %>
      </div>
    </div>
    <div class="col-12">
        <!--部分テンプレート-->
    <div class="new-book">
    <h2>New Book</h2>
    <%= render 'users/list', book: @booknew %>
    </div>
  </div>
 </div>
  <div class="col-md-8">
    <div class="book_index">
      <h2>Book detail</h2>
    <table class="table table-hover">
      <thead>
      <th></th>
      <th scope="col">title</th>
      <th scope="col">Opinion</th>
      </thead>
      <tbody>
      <td>
        <div class="col-12"><%= attachment_image_tag @user, :profile_image, :fill, 40, 40 %></div>
        <div class="col-12"><%= link_to user_path(@book.user_id) do %><%= @user.name %><% end %></div>
      </td>
       <td>
          <%= link_to book_path(@book) do %>
          <%= @book.title %>
          <% end %>
        </td>
      <td>
         <%= @book.body %>
      </td>
      <% if @user.id == current_user.id %>
        <td>
          <button type="button" class="btn btn-success">
            <%= link_to "Edit", "/books/#{@book.id}/edit" %>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger">
            <%= link_to "Destroy", "/books/#{@book.id}", method: :delete, data: { confirm: '本当に削除しますか？' }%>
          </button>
        </td>
      <% end %>
    </tbody>
   </table>
   </div>
  </div>
</div>