<div class="container">
  <div class="row">
    <div id="chat_area">
      <%= @entry_user1.user.name %>
      <%= render "chat_area" %>
    </div>

    <div>
     <%= form_with(model: @message, url: messages_path(@message.id), remote: true, id: "chat_form") do |f|  %>
     <%= f.hidden_field :room_id, value: @room.id %>
     <%= f.text_field :message, class: "textarea" %>
     <%= f.submit "go" %>
     <% end %>
    </div>
  </div>
</div>
